JavaScript/Node.JS/NodeRed/example/simple-http-flows.json
[{"id":"5eb63619.a20868","type":"tab","label":"ric-test","disabled":false,"info":""},{"id":"25af2fe2.55b85","type":"http in","z":"5eb63619.a20868","name":"test","url":"/test/:id","method":"get","upload":false,"swaggerDoc":"","x":100,"y":100,"wires":[["1ceac0c9.147c0f"]]},{"id":"72a03bd7.167994","type":"http response","z":"5eb63619.a20868","name":"response","statusCode":"200","headers":{},"x":699,"y":218,"wires":[]},{"id":"1ceac0c9.147c0f","type":"template","z":"5eb63619.a20868","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"id\": {{req.params.id}}\n}","output":"json","x":393,"y":129,"wires":[["72a03bd7.167994"]]}]